


html{
    overflow: auto;
    /*overflow: -moz-scrollbars-none;*/
    width:100%;
}

body{
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    */
    font-family: 'HiraKakuStd_w1' ;
    font-size:12px;
    padding-top:108px;
}


a{
    color:#fff;
}

a:hover{
    color:#fff;
    text-decoration: none
}

.navbar-right{
    margin-right: 0
}

.container-fluid{
    padding-left: 20px;
    padding-right: 20px;
}

.container{
    padding-left: 0 ;
    padding-right: 0;
}

.row{
    margin-left: 0;
    margin-right: 0
}



/*================================= HEADER ================================*/


.header_content{
    background-color: #050001;
    height: 108px;
    border-width: 0
}


.navbar > .container-fluid .navbar-brand{ 
    margin-left: 0;
    height: auto;
    padding:20px 0;
}

.navbar-toggle {
    border-color:#fff;
    border-radius: 0;
    border: 2px solid #fff;
    margin-top:20px ;
    padding: 21px 22px;
}

.navbar-toggle .icon-bar{
    background-color: #fff;
    height: 4px;
    border-radius: 0
}

.navbar-toggle .icon-bar + .icon-bar{
    margin-top:  6px;
}

.header_content .navbar-right{
    margin: 39px 0 ;
}

.navbar-nav > li {
    
}




.navbar-nav > li:hover{

}

.navbar-nav > li > a{
    /*padding:9px 10px;*/
    border:solid 1px #fff;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 1
}
.navbar-nav > li:hover > a{
    background-color: #fff;
    color:#000;
}
.navbar-nav > li.active > a{
    background-color: #fff;
    color:#000;
}

@media (min-width: @screen-xs-min) {  }
@media (min-width: @screen-sm-min) {  }
@media (min-width: @screen-md-min) {  }
@media (min-width: @screen-lg-min) {  }



/*================================= SPLASH VIEW ================================*/


.splashview{
    background-image: url('../images/toppage_bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 700px;
    /*height: calc(100vh - 108px);*/
    display: block;
}

.nikon_name{
    position: absolute;
    top:28px;
    left: 30px
}

.splashview_content{
    margin-top:50px ;
    text-align: center;
}

.nikondslr{
    display: block;
    margin: 0 auto;
}

.splashview_content .title{
    font-size: 36px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.splashview_content .title span{
    font-size: 32px;
    font-family: "HiraKakuStd_w6";
}

.splashview_content .subtitle{
    font-size: 32px;

}


/*================================= CONTENT TOP PAGE ================================*/

.toppage_content{
    background-image: url('../images/toppage_bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    /*height: 670px;*/
    text-align: center;
}

.toppage_content .row{
    background-color: rgba(0,0,0,0.7);
}

.toppage_content .toppage_headline{
    padding-top: 20px
}

.toppage_content p.scroll{
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    text-transform: uppercase;
    margin-bottom: 0;
}

.toppage_content p.scroll:after{
    content
}

.toppage_content .content_title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    text-transform: uppercase;
    font-size: 36px ;
    margin-top: 100px;
    margin-bottom: 40px;
}

.toppage_content .row:nth-child(2) .container{
    margin-bottom: 192px ;
}



.toppage_content .content_items{

}

.toppage_content .content_items img{
    width: 100%;
}

.toppage_content .content_items>div{
    display: table;
    /*width: 238px;
    height: 238px;*/
    position: absolute;
    top: 0;
} 

.toppage_content .content_items p{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-family: "HiraKakuStd_w6";
} 

.toppage_content .content_items p span{    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
} 

@media (min-width: 650px ){
    .toppage_content .content_items>div{
        width: 165px;
        height: 165px;
    }

}

@media (min-width: 768px ){
    .toppage_content .content_items>div{
        width: 165px;
        height: 165px;
    }

}


@media (min-width: 1000px ) {
    .toppage_content .content_items{
        width:238px ;
        padding:0;

    }

    .toppage_content .content_items:first-child{ 
        padding-left:0;
    }
    .toppage_content .content_items:nth-child(2){ 
        margin-left:16px;
    }
    .toppage_content .content_items:nth-child(3){ 
        margin-left:16px;
    }
    .toppage_content .content_items:last-child{ 
        padding-right:0;
        margin-left: 16px 
    }

    .toppage_content .content_items>div{
        width: 238px;
        height: 238px;
    }

}

@media (min-width: 1200px) {
    .toppage_content .row:nth-child(2) .container .col-lg-3{
        width:238px ;
        padding:0;

    }

    .toppage_content .row:nth-child(2) .container .col-lg-3:first-child{ 
        padding-left:0;
    }
    .toppage_content .row:nth-child(2) .container .col-lg-3:nth-child(2){ 
        margin-left:16px;
    }
    .toppage_content .row:nth-child(2) .container .col-lg-3:nth-child(3){ 
        margin-left:16px;
    }
    .toppage_content .row:nth-child(2) .container .col-lg-3:last-child{ 
        padding-right:0;
        margin-left: 16px 
    }


}




/*================================= CONTENT TOP PAGE ================================*/
.footer_container{
    height: 50px;
    position: relative;
    background-color: #000;
}



.footer_container div{
    height: 100%;
}

.footer_container .container div{
    display: table;
    width: 100%;
    height: 100%;
}

.footer_container p{
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color:#999899;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}




