


html{
    overflow: auto;
    /*overflow: -moz-scrollbars-none;*/
    width:100%;
}

body{
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    */
    font-family: 'HiraKakuStd_w1',"Helvetica Neue", Helvetica, Arial, sans-serif;  ;
    font-size:12px;
    
}


a{
    color:#fff;
}

a:hover{
    color:#fff;
    text-decoration: none
}

.navbar-right{
    margin-right: 0
}



.container{
    padding-left: 0 ;
    padding-right: 0;
}

.row{
    margin-left: 0;
    margin-right: 0
}

@media (min-width: 320px ){
    body{
        padding-top:128px;
    }
    .container-fluid{
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media (min-width: 768px ){
    body{
        padding-top:108px;
    }
    .container-fluid{
        padding-left: 20px;
        padding-right: 20px;
    }
}


/*================================= HEADER ================================*/


.header_content{
    background-color: #050001;
    
    border-width: 0
}


.navbar > .container-fluid .navbar-brand{ 
    margin-left: 0;
    height: auto;
    /*padding:20px 0;*/
}

.navbar-toggle {
    border-color:#fff;
    border-radius: 0;
    border: 2px solid #fff;
    margin-top:29px ;
    margin-right: 0;
    padding: 21px 22px;     
}

.navbar-toggle .icon-bar{
    background-color: #fff;
    height: 4px;
    border-radius: 0
}

.navbar-toggle .icon-bar + .icon-bar{
    margin-top:  6px;
}

.header_content .navbar-right{
    margin: 39px 0 ;
}

.navbar-nav > li {
    
}




.navbar-nav > li:hover{

}

.navbar-nav > li > a{
    /*padding:9px 10px;*/
    border:solid 1px #fff;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 1
}
.navbar-nav > li:hover > a{
    background-color: #fff;
    color:#000;
}
.navbar-nav > li.active > a{
    background-color: #fff;
    color:#000;
}

@media (min-width: 320px ){
    .header_content{
        height: 128px
    }
    .navbar > .container-fluid .navbar-brand{
        padding: 24px 0 ;
    }
    .navbar-brand > img{
        width: 264px
    }

}

@media (min-width: 768px ){
    .header_content{
        height: 108px
    }
    .navbar > .container-fluid .navbar-brand{
        padding: 20px 0 ;
    }
    .navbar-brand > img{
        width: 224px 
    }
    
   
}

@media (min-width: 1000px ){

}

@media (min-width: 1200px ){

}

/*================================= SUB MENU ================================*/
.sub-menu{
    background-color: #fff;
    position: fixed;
    top:108px;
    width: 100%;
}

.sub-menu ul{

}

.sub-menu ul li{
    width: 250px;
    float:left;
    text-align: center;
}

.sub-menu ul li a{
    font-family: "HiraKakuStd_w1";
    font-size: 16px;
    color:#000;
}

.sub-menu ul li a div{
    width: 250px;
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: #db395e;
    display: none
}

.sub-menu ul li a:hover>div{
    display: block;
}


@media (min-width: 320px ){

}

@media (min-width: 768px ){

}

@media (min-width: 1000px ){

}

@media (min-width: 1200px ){

}

/*================================= BANNER ================================*/


.banner {
    background-image: url('../images/toppage/toppage_bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 700px;
    /*height: calc(100vh - 108px);*/
    display: block;
    margin-top:50px;
}



/*================================= SPLASH VIEW ================================*/


.splashview{
    background-image: url('../images/toppage/toppage_bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 700px;
    /*height: calc(100vh - 108px);*/
    display: block;
}



.splashview_content{
    margin-top:50px ;
    text-align: center;
}

.nikondslr{
    display: block;
    margin: 0 auto;
}

.splashview_content .title{
    font-size: 36px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.splashview_content .title span{
    font-family: "HiraKakuStd_w6";
}

.splashview_content .subtitle{
    font-size: 32px;

}


.nikon_name{
    position: absolute;
    top:28px;
    left: 30px;

}

@media (min-width: 320px ){
    .nikon_name{
        display: none ;
    }
    .splashview_content .title span{
        font-size: 36px;
    }
    .nikondslr{
        width:100%
    }
}

@media (min-width: 768px ){
    .nikon_name{
        display: block;
    }
    .splashview_content .title span{
        font-size: 32px;
    }
    .nikondslr{
        width: auto
    }
}

@media (min-width: 1000px ){

}

@media (min-width: 1200px ){

}

/*================================= CONTENT TOP PAGE ================================*/

.toppage_content{
    background-image: url('../images/toppage/toppage_bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    /*height: 670px;*/
    text-align: center;
}



.toppage_content .toppage_headline{
    padding-top: 20px
}




.toppage_content .content_title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    text-transform: uppercase;
    font-size: 36px ;
    /*margin-top: 100px;*/
    
    font-weight: 500;
}





.toppage_content .content_items img{
    width: 100%;
}

.toppage_content .content_items .content-item-name{
    display: table;
    /*width: 238px;
    height: 238px;*/
    position: absolute;
    /*top: 0;*/
} 

.toppage_content .content_items p{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-align: center;
    width: 100%;
    font-family: "HiraKakuStd_w6";
} 

.toppage_content .content_items p span{    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
} 

@media (min-width: 320px ){
    .toppage_content .row{
        background-color: rgba(0,0,0,1);
    }

    .toppage_content .content_items{
        /*padding-left: 24px;
        padding-right:  24px;*/
        padding-left: 0;
        padding-right:  0;
        margin-bottom: 50px;
    }

    .toppage_content .content_items .content-item-name{
        width: 100%;
        /*height: 592px;*/
        height: auto;
        top:40%;
    }



    .toppage_content .content_items p{
        font-size: 36px
    }

    .toppage_content p.scroll{
        font-size: 14px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
        text-transform: uppercase;
        margin-bottom: 0;
        display: none;
    }

    .toppage_content .scroll-icon{
        display: none 
    }

    .toppage_content .content_title{
        margin-top: 60px ;
        margin-bottom: 60px;
    }

    .toppage_content .content_items:last-child{
        margin-bottom: 0
    }

    .toppage_content .row:nth-child(2) .container{
        margin-bottom: 0 ;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media (min-width: 768px ){

    /*.toppage_content .content_items{
        width:137px ;
        padding:0;

    }*/
    .toppage_content .content_items .content-item-name{
        width: 137px;
        height: 137px;
        top:0;
    }

    .toppage_content .row{
        background-color: rgba(0,0,0,0.7);
    }

    .toppage_content .content_items p{
        font-size: 18px
    }

    .toppage_content p.scroll{
        font-size: 14px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
        text-transform: uppercase;
        margin-bottom: 0;
        display: block;
    }

    .toppage_content .scroll-icon{
        display: block;
        margin: 0 auto;
        margin-top: 5px
    }
    .toppage_content .content_title{
        margin-top: 100px ;
        margin-bottom: 40px;
    }
    .toppage_content .content_items{
        padding-left: 24px;
        padding-right:  24px;
        margin-bottom: 0;
    }

    .toppage_content .row:nth-child(2) .container{
        margin-bottom: 192px ;
        margin-left: auto;
        margin-right: auto;
    }

}


@media (min-width: 1000px ) {
    .toppage_content .content_items{
        width:238px ;
        padding:0;

    }

    .toppage_content .content_items .content-item-name{
        width: 238px;
        height: 238px;
    }

    .toppage_content .content_items:first-child{ 
        padding-left:0;
    }
    .toppage_content .content_items:nth-child(2){ 
        margin-left:16px;
    }
    .toppage_content .content_items:nth-child(3){ 
        margin-left:16px;
    }
    .toppage_content .content_items:last-child{ 
        padding-right:0;
        margin-left: 16px 
    }

    .toppage_content .content_items>div{
        width: 238px;
        height: 238px;
    }

}

@media (min-width: 1200px) {
    .toppage_content .row:nth-child(2) .container .col-lg-3{
        width:238px ;
        padding:0;

    }

    .toppage_content .row:nth-child(2) .container .col-lg-3:first-child{ 
        padding-left:0;
    }
    .toppage_content .row:nth-child(2) .container .col-lg-3:nth-child(2){ 
        margin-left:16px;
    }
    .toppage_content .row:nth-child(2) .container .col-lg-3:nth-child(3){ 
        margin-left:16px;
    }
    .toppage_content .row:nth-child(2) .container .col-lg-3:last-child{ 
        padding-right:0;
        margin-left: 16px 
    }


}




/*================================= FOOTER ================================*/
.footer_container{
    position: relative;
    background-color: #000;
}



.footer_container div{
    height: 100%;
}

.footer_container .container div{
    display: table;
    width: 100%;
    height: 100%;
}

.footer_container p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color:#999899;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-weight: 500
}


@media (min-width: 320px) {
    .footer_container{
        height: 114px
    }
    .footer_container p{
        font-size: 20px;
    }
}
@media (min-width: 768px) {
    .footer_container{
        height: 50px
    }
    .footer_container p{
        font-size: 12px;
    }
}

