

body{

    /*font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    */
    font-family: 'HelveticaNeueR' ;
    position: relative;
    font-size:14px;
}


html{
    overflow: auto;
    /*overflow: -moz-scrollbars-none;*/
    width:100%;

}

html::-webkit-scrollbar { 
    display: none; 
}


 

body{
    /*overflow: hidden;
    width: 100%;
    height:100%;
    width:100%;
    height:100%;
    background: url(../images/index_bg.jpg) no-repeat;
    background-size: 100% 100%;
    display: block;
    overflow: hidden;*/
}

a{
    color:#fff;
}

a:hover{
    color:#fff;
    text-decoration: none
}

.page{
    /*margin-top:50px;*/
}


/*================================= NAV ================================*/

.header_content{
    background-color:#1a1c28;
    /*background-color:transparent;*/
    border-bottom: 2px solid #2e3141;
    z-index: 9990;
    margin-bottom:0;
}

.navbar-brand{
    height: auto;
    padding:8px 15px;
}

.navbar-brand:focus,
.navbar-brand:hover{
    outline: none;
    border: none;
}

.navHeaderCollapse{
    text-transform: uppercase;
}

.navHeaderCollapse center{
    display: block;
    margin: 0 auto;
    /*width: 65%;*/
}

.navHeaderCollapse center ul{
    float:none;
}

.navHeaderCollapse center ul li{
    /*margin: 0 10px;*/
    width: 19%;
    
}

.navHeaderCollapse center ul li a{
    color: #fff;
    font-family: HelveticaNeueB;
    padding:15px 0;
}

.navHeaderCollapse center ul li a:hover,
.navHeaderCollapse center ul li a:focus{
    color: red;
    background-color:transparent;
    border: none;    /*FIX FOR FF AND IE */
    outline:none;    /*FIX FOR FF AND IE */
}

.navbar-toggle{
    margin-right: 0;
    margin-top:15px;
    margin-bottom:15px;
}

.navbar-toggle .icon-bar{
    background-color:#fff;
    
}

.navbar-toggle .icon-bar-text{
    color:#fff;
    font-family: HelveticaNeueB;
    position: absolute;
    right: 40px;
    top: 6px;
}



@media (min-width: 300px){


}



@media (min-width: 768px){

}


/*=========== NAV RIGHT ITEM  ===========*/

    .nav_right_items{
        float: right;
        display: inline-block;
        z-index: 999;
        position: relative;
        /*top: 0;*/
        right: 0;
    }
    /*=========== LANGUAGE ===========*/
    .nav_right_items .language{
        display: inline-block;
        position: absolute;
        /*top: 15px;*/
        /*top:25px;*/
        top:15px;
        /*right: 95px;*/
        right:100px;
    }

    .nav_right_items .language>div{
        float: left;
        margin:0 5px;
        cursor: pointer;
    }

    .nav_right_items h2{
        text-transform: uppercase;
        color: #fff;
        font-family: HelveticaNeueB;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 2px 0 3px 10px;
        border-left: 2px solid #fff;
    }

    #language_global{

    }

    #language_vnese{

    }

    .nav_right_items .txt_menu{
        display: inline-block;
        position: absolute;
        /*top: 25px;
        top:10px;
        right: 0;
        width: 90px;*/
        top: 15px;
        right: -5px;
        width: 105px;
    }

/*=========== SUB MENU ===========*/

.main-nav ul 
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav ul li 
{
    display: inline-block;
    padding: 5px;
}

.main_nav ul li  a 
{
    color: white;
    text-decoration: none;
}

.main_nav ul .close-button 
{
    display: none;
}

.main_nav {
    position: absolute;
    top: 20px;
    right: 0;
    width: 300px;
    /*border: solid 10px white;*/
    background: rgba(#F06D06, 0.75);
    box-shadow: 0 0 5px rgba(black, 0.2);
    padding: 40px   ;

    /*transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;*/

    transform: scale(0.11) translateZ(0);
    -ms-transform:  scale(0.11) translateZ(0);
    -webkit-transform:  scale(0.11) translateZ(0);

    transform-origin: top right;
    -ms-transform-origin: top right;
    -webkit-transform-origin: top right;

    cursor: pointer;
}

.main_nav .hamburger_invi{
    display: none;
}

.main_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.main_nav ul li  a {
    font-family: HelveticaNeueB;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin: 0 0 40px 0;
    padding:5px;
    color: transparent;
}

.main_nav ul li  a:hover, 
.main_nav ul li  a:focus {
    background: black;
    color: white !important;
}

.main_nav ul li {
    background: white;
    display: block;
    padding: 0;
}

.main_nav ul  li:last-child a
{
    margin: 0;
}

.main_nav.open 
{
    width: 200px;
    transform: scale(1.0);
    ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    padding: 20px;
    /*top: 72px;*/
    background-color: #fff;
    right:5px;
}

.main_nav.open .hamburger_invi{
    display: block;
}

.main_nav.open ul 
{
    pointer-events: auto;
}



.main_nav.open .close-button 
{
    opacity: 1;
}



.close-btn:hover, .close-btn:active {
    background: black; 
}

.close-btn .visually-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.divide_line{
    
}
.main_nav.open  .divide_line a{
    padding:0 0 2px 0;
    background-color: #1a1c28;
}

.navbar-brand img:focus{
    outline:none;
    border: none;
}

@media (min-width: 300px){

    .nav_right_items h2{
        font-size: 12px;
    }
    .language{
        width: 70px;
    }

    .language>div img{
        width: 25px 
    }
    .navbar-brand img{
        width: 130px;
    }
    .nav_right_items{
        top:-5px;
    }
    .main_nav.open{
        top: 64px;
        width: 150px;
        padding:10px;
    }
    .main_nav.open .divide_line{
        display: block;

    }
    .main_nav.open .md_sub_menu{
        display: block;
    }
    .main_nav.open a 
    {
        color: black;
        margin:0 0 5px 0;
        font-size:11px;
    }
    .close-button {
        

        display: block;
        position: absolute;
        top: -15px ;
        right: -15px;
        border: 4px white solid;
        border-radius: 50%;
        background: #1a1c28;
        text-align: center;
        width: 30px;
        height: 30px;
        color: white;
        font-weight: bold;
        font-size: 12px;
        opacity: 0;
        /*transition: opacity 0.2s ease;*/
        outline: 0;
    }

}



@media (min-width: 768px){
    .navHeaderCollapse center{
        width: 60%;
    }
    .language{
        width: 70px;
    }

    .language>div img{
        width: 25px ;
    }

    .nav_right_items h2{
        font-size: 12px;
    }

    .navHeaderCollapse center ul li a{
        font-size: 10px
    } 
    .navbar-brand img{
        width: 140px;
        /*width: 85px*/
    }

    .nav_right_items{
        top:0;
    }

    .main_nav.open{
        top: 72px;
        padding: 20px ;
        width: 200px;
    }

    .main_nav.open .divide_line{
        display: none;
    }

    .main_nav.open .md_sub_menu{
        display: none;
    }

    .main_nav.open a 
    {
        color: black;
        margin:0 0 20px 0;
        font-size:16px;
    }

    .close-button {
        display: block;
        position: absolute;
        top: -20px ;
        right: -20px;
        border: 5px white solid;
        border-radius: 50%;
        background: #1a1c28;
        text-align: center;
        width: 40px;
        height: 40px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        opacity: 0;
        /*transition: opacity 0.2s ease;*/
        outline: 0;


    }

    .close-button span {
        position: relative;
        top: -3px;
    }
}

@media (min-width: 960px){
    .navHeaderCollapse center{
        width: 66%
    }
    .language{
        width: 80px;
    }
    .language>div img{
        width: 30px 
    }
    .nav_right_items h2{
        font-size: 14px;
    }
    .navbar-brand img{
        width: 140px;
        /*width: 85px;*/
    }

    .navHeaderCollapse center ul li a{
        font-size: 14px
    }
}

/*================================= CORNER  NAV ================================*/

.corners_nav{
    /*position: fixed;*/
    width: 100%;
    height:100%;
    z-index:999;
}

.corner_drive_btn{
    position: fixed;
    bottom:0;
    right: 0;
    z-index: 999;
    display: inline-block;
}


.corner_drive_btn img{
    float:right;
}



.corner_voucher_btn{
    position: fixed;
    bottom:0;
    left: 0;
    z-index: 999;
    display: inline-block;
}


.corners_nav img{
    width: 100%;
    -moz-transition:all 0.2s ease-out;
    -webkit-transition:all 0.2s ease-out;
    -o-transition:all 0.2s ease-out;
    transition:all 0.2s  ease-out;
}

.corners_nav img:hover{
    width: 120%;
}

@media (min-width: 310px){
    .corner_drive_btn{
        width: 20%;
    } 
    
    .corner_voucher_btn{
        width: 20%;
    }  
}

@media (min-width: 768px){
    .corner_drive_btn{
        width: 8%;
    } 

    .corner_voucher_btn{
        width: 8%;
    }
}




/*========================================================= 
                    PAGE 1 SCROLL PARALLAX 
  ========================================================*/
.home_content{

}

.home_content{
    display:block ;
    width:100%;
    /*background-color:#666;*/
    color:white;
    z-index: 1;
    position: relative;
    height:100% important;

}

.home_content_imgbg{
    background: url(../images/home_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;

}

.home_content_imgbg .video_overlay_desc{
    position: absolute;
    top: 15%;
    right:5%;
    font-family: HelveticaNeueB;
    color:#fff;
    text-transform: uppercase;
    font-size: 1em;
    opacity: 0;

    -moz-transition:all 1s ease;
    -webkit-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s  ease;
    transition-delay:0.5s;
}

.home_content_car{
    position: relative;
    height: 100%;
    width: 100%;
}

.home_content_car img{
    width: 20%;
    position: absolute;
    bottom: 20%;
    left: 5%;
    opacity: 0;

    -moz-transition:all 1s ease;
    -webkit-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s  ease;
    transition-delay:0.5s;
}

.video_container{
    height:100%;
    width: 100%;
    position: absolute;
    padding:0;
    margin:0;
    left: 0px;
    top: 0px;
    z-index: -1000;
    overflow:hidden;
    

     background:transparent url('../images/videobg.jpg') no-repeat 0 0; 
   -webkit-background-size:cover; 
   -moz-background-size:cover; 
   -o-background-size:cover; 
   background-size:cover; 

    /*position:relative;width:100%;*/
}

.btn_videoPlay{
    position: absolute;
    top:40%;
    /*left:50%;*/
    width: 100%;
    /*height:100px;*/
    z-index: 9930;
    display: none;
    opacity:0;
    -moz-transition:all 1s ease;
    -webkit-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s  ease;
}

.btn_videoPlay img{
    width: 100px;
    display: none;
    opacity: 0.7;
    margin:0 auto;
    cursor: pointer;
    -moz-transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s  ease;
    z-index: 9931
}

.btn_videoPlay img:hover{
    opacity: 1 !important;
}

.btn_videoLoading{
    position: absolute;
    /*top:40%;*/
    /*top:70%;*/
    top:40%;
    /*left:50%;*/
    width: 100%;
    /*height:100px;*/
    z-index: 9930;
    display: block;
    opacity:1;
    -moz-transition:all 1s ease;
    -webkit-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s  ease;
}

.btn_videoLoading img{
    width: 80px;
    display: block;
    opacity: 1;
    margin:0 auto;
    cursor: pointer;
    -moz-transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s  ease;
    z-index: 9931
}

.video_percentloaded{
    z-index: 9932;
    color: #E7E7E7;
    position: relative;
    margin: 0 auto;
    font-size: 22px;
    text-align: center;
    top: 20px;
    font-family: 'HelveticaNeueB';
}

.btn_videoLoading img:hover{
    opacity: 1 !important;
}

.video_overlay{
    /*background:url(../images/pattern.png);*/
    background-repeat: repeat;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9920;
    position: relative;
    -moz-transition:all 1s ease;
    -webkit-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s  ease;
    background-color: transparent;
    /*background-color: rgba(0,0,0,0.5);*/
}

.video_overlay .video_overlay_desc{
    font-family: HelveticaNeueB;
    color:#fff;
    text-transform: uppercase;
}

.btn_scroll{
    position: relative;
    z-index: 9980;
    width: 100%;
    display: block;
    bottom: 15%;
    color:#fff;
    /*opacity:0;*/
}
/*.rotate_content .btn_scroll{
    bottom:-10px;
}*/

.btn_scroll center{
    cursor: pointer;
}

.btn_scroll img{
    position: relative;
    top:-5px;
}

.btn_scroll span {
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
    top: -8px;
    padding-left: 5px;
}


.videoandlib_content .btn_scroll{
    bottom: 20%;
}

.rotate_content .btn_scroll{
    /*bottom: 10%;*/
    bottom: 0
}

.tech_content .btn_scroll{
    bottom: 3%;
}

.tech_content .btn_scroll span{
    color:#000;
}

.brochure_content .btn_scroll{
    bottom: 45%;
    color: black;
}

.brochure_content .btn_scroll img{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */

    transform: rotate(180deg);
}

.brochure_content .btn_scroll span{
    top:10px;
}

@media (min-width: 310px){
    .video_overlay .video_overlay_desc{
        /*top: 25%;
        right: 12%;
        font-size: 5em;*/
        top: 25%;
        right: 0;
        font-size: 3.5em;
        position: relative;
        text-align: center;
    }
}

@media (min-width: 768px){
    .video_overlay .video_overlay_desc{
        top: 25%;
        right: 5%;
        font-size: 5em;
        position: absolute;
        text-align: center;
    }
}
@media (min-width: 860px){
    .home_content{
        /*margin-top:50px;*/
    }
}
@media (min-width: 992px){
    .video_overlay .video_overlay_desc{
        top: 15%;
        right: 5%;
        font-size: 6em;
        position: absolute;
        text-align: center;
    }
}






.animation_bgcar{
    background-image: url(../images/caramin1.jpg);
    /*background-attachment: fixed;*/
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;

    animation: bgchange 0.5s infinite;
    -webkit-animation: bgchange 0.5s infinite;
}


@keyframes bgchange {
  33% { background-image: url(../images/caramin2.jpg); }
  66% { background-image: url(../images/caramin3.jpg); }
  100% { background-image: url(../images/caramin1.jpg); }
}

@-webkit-keyframes bgchange {
  33% { background-image: url(../images/caramin2.jpg); }
  66% { background-image: url(../images/caramin3.jpg); }
  100% { background-image: url(../images/caramin1.jpg); }
}


video { 
   
    min-height: 100%;
    min-width:100%;
    position:absolute;
    top:0;
    left:0;

}

/*============================================================ 
                    PAGE 2 EXPAND HOVER DIV 
  ===========================================================*/

.info_content{
    /*height: 800px;*/
    width:100% ;
    position: relative;
    z-index: 2;
    display: block
}



.main_info{
    height: 100%;
    width:110%;
    padding: 0; 
    margin-left:-4%;
    overflow:hidden;
    background-color:#fff;

}
.main_info li{

    width:33.3333333%;

    float:left;
    display:block;
    list-style-type: none;
    overflow:hidden;
    /*height:100%;*/
    height:106%;
    margin-top: -2%;
    display:block;

    transform: skewX(-8deg);  
    -webkit-transform: skewX(-8deg);
    -moz-transform: skewX(-8deg);


    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s  ease;

    transform-style:preserve-3d;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-decoration: none;
    color:#fff;
    font-size:200%;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

}

.main_info li a{
    display: block;
    height: 100%;
    text-decoration: none;
    color:#fff;
    font-size:200%;

    width:100%;



}

.overlay{
     cursor:pointer;
    display: table;
    background: rgba(0,0,0,.5);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    width: 100%;
    height: 100%;

     -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.image_bg{
    width:100%;
    /*position: absolute;*/
    top:0;
    left:0;
    height: 100%;
    margin-top: -300%;
}

.image_bg img{
    height: 100%
}

.overlay>div{
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    width: 100%;

    
}

.main_info h1{
    text-align: center;
    text-transform: uppercase;
    transform: skewX(8deg);  
    -webkit-transform: skewX(8deg);
    -moz-transform: skewX(8deg);
    /*font-weight: bold;*/
    font-size:40px; 
    font-family: 'HelveticaNeueB';
    opacity: 1;
}
.main_info p{
    transform: skewX(8deg);
    -webkit-transform: skewX(8deg);
    -moz-transform: skewX(8deg);
    font-size:11px ;
    font-weight: 300;
    text-transform: uppercase;
    opacity: 0.7;

     -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.main_info img {
    transform: skewX(8deg);
    -webkit-transform: skewX(8deg);
    -moz-transform: skewX(8deg);
    opacity: 0.7;
}

.main_info li>img{
    display: none;
}



.main_info:hover li {
    /*width:20%;*/

}

.main_info li:hover{
    background-position: center;
}

.main_info li:hover .overlay{
    background: rgba(0,0,0,.1);
}

.main_info li:hover h1,.main_info li:hover p,.main_info li:hover img{
    opacity:1;
}



.main_info li:hover .image_bg{
    margin-top:-150%;
}


    /*================= INFO DIV EXPAND CONTENT =================*/

    .main_info_big_content{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .main_info_big_content .main_info_content{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0;
        visibility: hidden;
       
        padding:0;
        overflow: hidden;

        transition: opacity  500ms ease,
                    visibility  500ms ease,
                    left  500ms ease;
        -webkit-transition: opacity  500ms ease,
                            visibility  500ms ease,
                            left  500ms ease;
        -moz-transition:    opacity  500ms ease,
                            visibility  500ms ease,
                            left  500ms ease;


    }

    .owl-carousel .owl-wrapper-outer,
    .owl-carousel .owl-wrapper,
    .owl-carousel .owl-item,
    .main_info_big_content .main_info_content .slider_item{
        height: 100%;
        z-index:9991;
    }
    .main_info_big_content .main_info_content .slider_item{
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color:#000;
        
    }

    .main_info_big_content  .owl_sub_nav {
        /*background-color: rgba(0,0,0,0.5);*/
        background-color: #e50b1f;
        color: #fff;
        width: auto;
        display: inline-block;
        text-transform: uppercase;
        position: absolute;
        /*left: 7%;
        top: 15%;*/
        top:0;
        left: 0;
        padding:10px;
        /*z-index:9998 !important;*/

        opacity: 0;
        visibility: hidden;
        transition: all  500ms ease;
        -webkit-transition: all  500ms ease;
        -moz-transition:    all  500ms ease;

        display: block;
        width: 100%;
    }
    .owl_sub_nav .owl_sub_nav_container{
        width: 600px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    

    .owl_sub_nav .owl_sub_nav_container div{
        float: left;
        cursor: pointer;
        padding:0 25px;
        border-right: 1px solid #fff;
        width: 200px;
        text-align: center;
        position: relative;
    }

    .owl_sub_nav .owl_sub_nav_container div.active:before{
        content: url(../images/sub_menu_active.png);
        position: absolute;
        width: 20px;
        left: 10px
    }

    
    .owl_sub_nav .owl_sub_nav_container div:hover{
        text-decoration: underline;
    }

    .owl_sub_nav .owl_sub_nav_container div:last-child{
        border-right:none;
    }

    .thanthien{
        padding-left:50px !important;
    }

    .main_info_big_content .main_info_content .slider_item .main_info_desc{
        display:none;

        background-color: rgba(0,0,0,0.5);
        color:#fff;
        padding:10px 20px;
        width: 45%;
        text-transform: uppercase;
        position: absolute;
        right: 0;
        top: 35%;
    }

    .main_info_big_content .main_info_content .slider_item .main_info_desc h1{
        font-size: 40px;
        font-family: 'HelveticaNeueB';
    }

    .main_info_big_content .main_info_content .slider_item .main_info_desc p{
        font-size: 11px;
        line-height: 2em;
        font-weight: 200;
        
    }

    .customNavigation{
        position: absolute;
    }

    .control_btn{
        /*background-color: red;*/
        width: 100%;
        display: block;
        position: absolute;
        bottom:8%;
        opacity:0;
        z-index:9999;
        visibility: hidden;
        transition: all  500ms ease;
        -webkit-transition: all  500ms ease;
        -moz-transition:    all  500ms ease;
    }

    .control_btn center{
        display: block;
        margin: 0 auto;
        width: 105px;
    }

    .control_btn>center>div{
        margin:0 2px;
        display: block;
        position: relative;
    }

    .btn_close{
        /*background-color: #000;
        height:50px;
        width:50px;
        position: absolute;
        top:0;
        color:#fff;
        right: 0;
        cursor:pointer;*/
        background: url(../images/btn_close.png) no-repeat;
        background-size: contain;
        height: 34px;
        width: 34px;
        display: block;
        float: left;
        position: relative; 
        cursor:pointer;
    }

    .btn_prev{
        background: url(../images/btn_prev.png) no-repeat;
        background-size: contain;
        height: 29px;
        width: 26px;
        display: block;
        float: left;
        position: relative; 
        cursor:pointer;
        top:3px;
    }

    .btn_next{
        background: url(../images/btn_next.png) no-repeat;
        background-size: contain;
        height: 29px;
        width: 26px;
        display: block;
        float: left;
        position: relative; 

        cursor:pointer;
        top:3px;
    }

    .btn_close:before{
        /*content:"\e005";*/
    }

/*======================================================================== 
                        PAGE 3 - Rotate360 
  =======================================================================*/
.rotate_content{
    display:block ;
    height:800px ;
    width:100%;
    background: -webkit-linear-gradient( #c1c1c1 , #fff,#c1c1c1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #c1c1c1 , #fff,#c1c1c1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #c1c1c1 , #fff,#c1c1c1); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #c1c1c1 , #fff,#c1c1c1); /* Standard syntax */
    color:white;
    position: relative;
    z-index: 3
}

.rotate_content h1{
    /*margin-top:80px;*/
    margin-top:10px;
    color:#000;
    text-transform: uppercase;
    font-family: 'HelveticaNeueB';
    margin-bottom: 10px

}

.rotate_content h1 img{
    width: 200px;
    margin-top: -15px
}
.rotate_content span{
    
}

.rotate_content .rotate360{
    width: 960px;
    margin:0 auto;
    display: block;
    position: relative;
/*    width:960px;*/
    height:540px;
    overflow:hidden;
    /*position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -270px;
    margin-left: -480px;
    background-color:#000;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    border:1px solid #000;*/
}

.rotate_content iframe.display {
    width: 1920px;
    height:540px;   
}

.rotate360_text{
    color:#fff;
    font-style: italic;
    margin-top:0;
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    padding:15px 0;

}

/*======================================================================== 
                    PAGE 4 - TECH INFO ACCORDION 
  =======================================================================*/
.tech_content{
    /*padding-top:50px;*/
    padding-top:10px;
    margin:0 auto;
    width:80%;
}

.tech_content>center>h1{
     font-family: 'HelveticaNeueB';
     text-transform: uppercase;
}

.tech_content .car_pick{
    position: relative;
}

.tech_content .car_pick .carpick_name{
    color:red ;
    font-weight: 600;
    font-family: 'HelveticaNeueB';
}

.tech_content .car_pick span{
    margin: 0 5px;
}

.tech_content .car_pick_err{
    color:red;
    display: none;
    float:right;
    opacity: 0;
}

.tech_content .car_pick_err_min{
    color:red;
    display: none;
    float:right;
    opacity: 0;
}

.tech_content .panel-group{
    /*height:75%;*/
    height: 70%;
    overflow-y:scroll ;
    margin-top: 20px;
    width: 100%;
}

.tech_content .panel{
    border:1px dashed transparent;
    border-radius: 0;
    border-color:transparent;
    margin-bottom:10px;
}

.tech_content .panel-default > .panel-heading{
    background-color:#1a1c28;
    color:#fff;
    text-transform: uppercase;
    border-radius: 0;
    padding:0;
}

.tech_content .panel-heading .table{
    margin-bottom: 0;
    position: relative;

}

/*TABLE HEADER */

.tech_content .panel-heading .table .table_row{
    cursor:pointer;
    width: 100%;
    background-color:#1a1c28;
    display: table;
}

.tech_content .panel-heading .table .table_row .table_col{
    float: left;
    width: 17%;
    padding: 12px 8px;
    font-size: 12px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-family: 'HelveticaNeueB';
}

.tech_content .panel-heading .table .table_row .dmax42mt{
    color: #ff9900;
}
.tech_content .panel-heading .table .table_row .dmax42at{
    color: #00ff00;
}
.tech_content .panel-heading .table .table_row .dmax44mt{
    color: #00ffff;
}
.tech_content .panel-heading .table .table_row .dmax44at{
    color: #ffff00;
}
    
.tech_content .panel-heading .table .table_row .table_col:first-child{
    width: 32%;
    text-align: left;
    font-size: 14px;
    padding-left: 40px;
}
.tech_content .panel-heading .table .table_row .table_col:first-child img{
    position: absolute;
    left: 10px;
    top:8px;
}


/* TABLE BODY */

.tech_content .panel-body{
    padding:0;
    border-radius: 0;
    border-top: none;
    border-left: 1px dashed #999;
}

.tech_content .panel-body .table{
    margin-bottom: 0
}

.tech_content .panel-body .table .table_row{
    width: 100%;
    display: inline-block;
    border-bottom: 1px dashed #999;
}

.tech_content .panel-body .table .table_row .table_col{
    float: left;
    width: 17%;
    padding: 12px 8px;
    font-size: 11px;
    text-align: center;

    padding: 10px 8px;
    border-top: 0px solid transparent;
    font-size: 12px;
    border-left: 1px dashed #999;
}
    
.tech_content .panel-body .table .table_row .table_col:first-child{
    width: 32%;
    text-align: left;
    border-left:none;
}

.tech_content .panel-body .table .table_row .table_col:last-child{
    border-right: 1px dashed #999;
}

.tech_content .panel-body .table .table_row .table_col span{
    float:right;
}


.techinfo_text{
    color:#000;
    font-style: italic;
    margin-top:0;
    text-align: center;
    width: 100%;
    position: relative;
}



/*======================================================================== 
                            PAGE 5 EXPAND HOVER DIV 
  =======================================================================*/


.videoandlib_content{
    /*height: 800px;*/
    width:100% ;
    position: relative;
    z-index: 2;
    /*margin-bottom:75px;*/
    /*margin-bottom: 65px;*/
}



.video_content{
    /*height: 110%;*/
    height:100%;
    width:100%;
    padding: 0; 
    overflow:hidden;
    background-color:#000;
    
}

.ilight_library_video{
    /*background-size: 150% !important;*/
}

.video_content li{

    width:100%;
    height:55%;
    float:left;
    display:block;
    list-style-type: none;
    overflow:hidden;
    margin-top: -3%;
    display:block;

    transform: skewY(-3deg);  
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);


    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s  ease;

    transform-style:preserve-3d;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-decoration: none;
    color:#fff;
    font-size:200%;
}




.video_content li a{
    display: block;
    height: 100%;
    text-decoration: none;
    color:#fff;
    font-size:200%;

    width:100%;



}

.video_content .overlay{
     cursor:pointer;
    display: table;
    background: rgba(0,0,0,.5);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
    width: 100%;
    height: 100%;
}

.image_bg{
    width:100%;
    /*position: absolute;*/
    top:0;
    left:0;
    height: 100%;
    margin-top: -300%;
}

.image_bg img{
    height: 100%
}

.overlay>div{
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    width: 100%;

    
}

.video_content h1{
    text-align: center;
    text-transform: uppercase;

    transform: skewY(3deg);  
    -webkit-transform: skewY(3deg);
    -moz-transform: skewY(3deg);
    /*font-weight: bold;*/
    font-size:40px; 
    font-family: 'HelveticaNeueB';
    opacity: 1;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}

.video_content img{
    opacity: 0.7;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}

.video_content li:hover{
    background-position: center;
}

.video_content li:hover .overlay{
    background: rgba(0,0,0,.1);
}


.video_content li:hover h1,.video_content li:hover img{
    opacity: 1;
}

.ilightbox-next-button,.ilightbox-prev-button{
    display: none
}



/*============================================================
                        PAGE 6 BROCHURE  
  ===========================================================*/
.brochure_content{
    position: relative;
    background-color: #fff;
    padding-top:50px;
    /*display: inline-block;*/
    /*padding-bottom: 30px;*/
    width: 100%
}

.brochure_content h2{
    position: absolute;
    text-transform: uppercase;
    color:#000;
    font-weight: 200;
    font-size: 22px;
}
.brochure_content span{

    /*font-family: 'HelveticaNeueB';
    font-size: 32px;*/
}

.brochure{
    width: 85%;
    display: block;
    margin:0 auto;
    position: relative;
    /*margin-bottom: 30px*/
    z-index: 99
}


.brochure img{
    width: 100%
}

.brochure h2{

}

/*.agentandprice{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}
*/
.agent{
    float:left;
    width: 40%;
    margin: 0 5%;
    position: relative;
    z-index: 9;
    margin-top: -63px;
}

.agent img{
    width: 100%
}


.agent h2{
    
}

.pricecalc{
    float:left;
    width: 40%;
    margin: 0 5%;
    position: relative;
    z-index: 9;
    /*margin-top:-5px;*/
    margin-top: -63px;

}

.pricecalc img{
    width: 100%
}

.pricecalc h2{
    
}


.brochure_content>.last_content_item{
    border: 1px solid transparent;
    -moz-box-shadow:    5px 5px 10px 10px transparent;
    -webkit-box-shadow: 5px 5px 10px 10px transparent;
    box-shadow:         5px 5px 10px 10px transparent;
}

.brochure_content>.last_content_item.active {
    /*border: 1px solid #c9c9c9;
    -moz-box-shadow:    12px 12px 11px -8px #c9c9c9;
    -webkit-box-shadow: 12px 12px 11px -8px #c9c9c9;
    box-shadow:        12px 12px 11px -8px #c9c9c9;*/
}

.brochure_content>.last_content_item:hover{
    border: 1px solid #c9c9c9;
    -moz-box-shadow:    12px 12px 11px -8px #c9c9c9;
    -webkit-box-shadow: 12px 12px 11px -8px #c9c9c9;
    box-shadow:        12px 12px 11px -8px #c9c9c9;
    z-index: 999
}




/*PRICE CAL*/

.price_cal{
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 9981;

    transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    opacity: 0;
    display: none
}

.price_cal_close{
    top: 10px;
    position: absolute;
    right: 15px;
    font-size: 20px;
    font-family: HelveticaNeueB;
    cursor: pointer;
    color: #a0a0a0;
}

.price_cal_content{
    margin-top: 30px;
    padding: 40px 30px;
    background-color: #fff;
    position: relative;
}

.price_cal_opt{
    width: 35%;
    float: left;
}
    .price_cal_opt .price_cal_model{
        float:left;
        width: 100%;margin-top:40px;
    }
    .price_cal_opt .price_cal_province{
        float:left;
        width: 100%;margin-top:40px;
    }

    .price_cal_opt_endline{
        width: 100%;
        float:left;
        height:1px;
        background-color: #000;
        margin-top:20px;
    }

    .price_option{
        margin-top: 20px;
        position: relative;
        float: left;
        width: 100%;
        
    }

    .price_option h3{
        
    }

    .price_option input{
        margin-right: 10px;
    }

    .price_cal_opt p{
        font-family: 'HelveticaNeueR';
        font-weight: 400;
        font-size: 15px;
        float:left;
        width: 25%;
        margin-top: 10px;
        margin-bottom: 0;
        /*text-transform: uppercase;*/
    }

    .price_cal_opt p span{
        float:right;
    }

    .price_cal_opt .dropdown{
        float:right;
        margin-left: 5%;
        width: 65%;
        color:#000;
        border-radius: 5px;
        border:1px solid #e6e6e6;
        padding: 5px 10px;
        text-align: right;

        background: -webkit-linear-gradient(#d4d4d4, #f1f1f1); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#d4d4d4, #f1f1f1); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#d4d4d4, #f1f1f1); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#d4d4d4, #f1f1f1); /* Standard syntax */
    }

    .price_cal_opt .dropdown a{
        color:#000;
        text-transform: uppercase;
        font-family: 'HelveticaNeueR';
        font-size: 14px;
        display: block
    }

    .price_cal_opt .dropdown ul{
        width: 100%;
        padding: 0
    }

    .price_cal_opt .dropdown ul li{
        width: 100%;
        cursor: pointer;
        padding: 5px;
    }

    .price_cal_opt .dropdown ul li:hover{
        background-color: #666
    }

    .btn_calCost{
        border-radius: 5px;
        padding:8px 10px;
        color:#fff;
        background-color: red;
        border:1px solid #fff ;
        box-shadow: 0 0 0 1px #ae0000;
        float: right;
        width: 50%;
        margin-top:20px;
        cursor: pointer;
        text-align: center;
        font-size:19px;
    }

    .cost_warning{
        width: 100%;
        position: relative;
        float:left;
        color:#a0a0a0;
        font-size: 12px;
        margin-top: 10px;

    }

    .err_msg{
        width: 100%;
        position: relative;
        float:left;
        color:red;
        font-size: 12px;
        margin-top: 10px;
        font-style: italic;
        opacity: 0
    }

.price_cal_detail{
    width: 62%;
    float: left; 
    margin-left:3%;

    border: 1px solid #c9c9c9;
    -moz-box-shadow:    12px 12px 11px -8px #c9c9c9;
    -webkit-box-shadow: 12px 12px 11px -8px #c9c9c9;
    box-shadow:        12px 12px 11px -8px #c9c9c9;

    /*opacity:0;*/
}

    .price_cal_info{
        width: 50%;
        float:left;
        position: relative;
        min-height: 400px;
        padding-left:30px;
        margin-bottom: 30px
    }

    .price_cal_info h3{
        text-align: center;
    }

    .price_cal_info h1{
        color:#ff0000;
        text-align: center;
        margin-bottom:30px;
        font-family: HelveticaNeueB
    }

    .total_price span{
        font-family: HelveticaNeueR;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        margin-left: 5px;
    }

    .price_cal_info>div{
        color: #5d5d5d;
        padding: 12px 0;
        border-top: 1px solid #5d5d5d;
        font-size: 12px;
        display: none;
    }

    .price_cal_info>div:last-child{
        
        border-bottom: 1px solid #5d5d5d;
    }

    .price_cal_info>div>span{
        position: absolute;
        right: 0;
    }

    .price_cal_img{
        width: calc(50% - 10px);
        float: left;
        position: relative;
        height: 300px;
        margin-right: 10px;
    }

    .price_cal_img .calculator{
        position: absolute;
        top:0;
        right: 0;
        width: 80%;
    }

    .price_cal_img .price_car{
        position: absolute;
        top:35%;
        right: 0;
        width: 98%;
    }



/*===========LOADING VIDEO ANIMATION===========*/


#preloader_1{
    position:relative;
    margin: 0 auto;
    display: block;
    width: 5%;
    height: 30px;
    opacity:0.8;
}
#preloader_1 span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background-color:#fff;
    -webkit-background-color:#fff;
    -moz-background-color:#fff;
    -o-background-color:#fff;
    -ms-background-color:#fff;
    position:absolute;
-webkit-animation: preloader_1 1.5s  infinite ease-in-out;
-moz-animation: preloader_1 1.5s     infinite ease-in-out;
-ms-animation: preloader_1 1.5s  infinite ease-in-out;
-o-animation: preloader_1 1.5s   infinite ease-in-out;
animation: preloader_1 1.5s  infinite ease-in-out;

}

#preloader_1 span:nth-child(2){
left:11px;
-webkit-animation-delay: .2s;
-moz-animation-delay: .2s;
-ms-animation-delay: .2s;
-o-animation-delay: .2s;
animation-delay: .2s;

}
#preloader_1 span:nth-child(3){
left:22px;
-webkit-animation-delay: .4s;
-moz-animation-delay: .4s;
-ms-animation-delay: .4s;
-o-animation-delay: .4s;
animation-delay: .4s;
}
#preloader_1 span:nth-child(4){
left:33px;
-webkit-animation-delay: .6s;
-moz-animation-delay: .6s;
-ms-animation-delay: .6s;
-o-animation-delay: .6s;
animation-delay: .6s;
}
#preloader_1 span:nth-child(5){
left:44px;
-webkit-animation-delay: .8s;
-moz-animation-delay: .8s;
-ms-animation-delay: .8s;
-o-animation-delay: .8s;
animation-delay: .8s;
}
@-webkit-keyframes preloader_1 {
    0% {height:5px;-webkit-transform:translateY(0px);background-color:#fff;}
    25% {height:30px;-webkit-transform:translateY(15px);background-color:#fff;}
    50% {height:5px;-webkit-transform:translateY(0px);background-color:#fff;}
    100% {height:5px;-webkit-transform:translateY(0px);background-color:#fff;}
}

@-moz-keyframes preloader_1 {
    0% {height:5px;-moz-transform:translateY(0px);background-color:#fff;}
    25% {height:30px;-moz-transform:translateY(15px);background-color:#fff;}
    50% {height:5px;-moz-transform:translateY(0px);background-color:#fff;}
    100% {height:5px;-moz-transform:translateY(0px);background-color:#fff;}
}

@-ms-keyframes preloader_1 {
    0% {height:5px;-ms-transform:translateY(0px);background-color:#fff;}
    25% {height:30px;-ms-transform:translateY(15px);background-color:#fff;}
    50% {height:5px;-ms-transform:translateY(0px);background-color:#fff;}
    100% {height:5px;-ms-transform:translateY(0px);background-color:#fff;}
}

@keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background-color:#fff;}
    25% {height:30px;transform:translateY(15px);background-color:#fff;}
    50% {height:5px;transform:translateY(0px);background-color:#fff;}
    100% {height:5px;transform:translateY(0px);background-color:#fff;}
}



